$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Quicksand', sans-serif;
$base-font-size: 14px;

// Primary & secondary color of the website
$primary-color: #EEE;
$secondary-color: #1a68de;

// Primary & secondary color for the text in the site
$text-primary-color: #000;
$text-secondary-color: #BBB;

$button-primary-color: #3498db;
$button-primary-hover-color: #3cb0fd;
$button-primary-gradient-color: #2980b9;

$text-insignificant-color: #868686;
$text-white-color: #fff;

$div-bg-light: #fff;
$div-border-color: #e2e2e2;

$font-size-tiny: 8px;
$font-size-small: 10px;
$font-size-default: 12px;
$font-size-big: 14px;
$font-size-very-big: 16px;
$font-size-huge: 18px;
$font-size-humongous: 20px;

$desktop-min-width: 900px;
$mobile-max-width: 899px;
