@import "../constants";

$score-border-color: #045014;
$score-bg-color: #b0e0ba;

.score {
  padding: 10px;
  font-size: $font-size-huge;
  font-weight: bold;
  background: $score-bg-color;
  border: 2px solid $score-border-color;
  margin: 10px 0;
}
